*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Inter",sans-serif;
}

nav{
    /* border: 2px solid; */
    height: 730px;
    display: flex;
    justify-content: space-evenly;
    background-image: url(./gradnassests/hero-bg.jpg );
    background-size: cover;
    background-repeat: no-repeat;
    
   
}

nav div{
    /* border: 2px solid; */
    height: 80px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:0.3;
    background-color:lightslategray;
}
nav ol{
    list-style: none;
    display: flex;
    justify-content:space-between;
    width: 100%;
    font-size: 20px;
    font-weight: 200;
    color: white;
    
}

nav button {
   width: 200px;
    height: 70px;
    background-color:rgb(235,211,91);
    color: black;
    font-size: 20px;
    font-weight: 600;
    border-radius: 30px;

}
nav button:hover{
    background-color:rgb(235,211,91) ;
    
}

 main{
     /* border: 2px solid; */
    height: 500px;
    width: 50%; 
    align-content: center; 
    position: relative;
    bottom: 600px;
    margin-right:80px;
    padding-left: 50px;

}

main h1{
     /* border: 2px solid; */
    height: 200px;
    width: 40%;
    font-size: 30px;
    align-content: center;
    font-weight: 600;
    color: white;


} 
main p{
    /* border: 2px solid red; */
    height: 50px;
    width: 60%;
    color: white;
}
#a1{
    height: 50px;
    width: 180px;
    border-radius: 20px;
     background-color:rgb(235,211,91);
     font-size: 18px;
     text-transform: capitalize;
}
#a2{
    height: 50px;
    width: 180px;
    border-radius: 20px;
    opacity: 0.2;
    font-size: 18px;
    text-transform: capitalize;
}
#a2 button:hover{
    background-color: yellow;
}
#sec1{
    /* border: 2px solid red; */
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 300px;
    gap: 30px;
    padding: 20px;
    background-color: rgb(243,250,246);
}
#sec1 div{
    /* border: 2px solid yellow; */
    height: 200px;
    width: 800px;
    align-content: center;
    flex-direction: column;

}
#sec1 h3{
    /* border: 2px solid; */
    width: 100%;
    height: 80px;
    font-size: 25px;
    align-content: flex-start;
    align-content: center;
    
}

#sec2{
    /* border: 2px solid; */
    height: 700px;
    width: 100%;
    display: flex;
    gap: 30%;
    bottom: 300px;
    position: relative;
    
}
#sec2 div{
    /* border: 2px solid; */
    height: 700px;
    width: 200px;
     display: flex;
     justify-content: center;
     align-items: flex-start;
     flex-direction: column;
     margin-left: 10px;
    
   
}
#sec2 div+div{
    /* border: 2px solid red; */
    height: 700px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: end;
    gap: 10px;
}
#sec2 img{
    height: 600px;
    width: 550px;
    
}
#sec2 h2{
      /* border: 2px solid red; */
    width: 80%;
    height: 100;
    font-size: 50px;
    font-weight: 600;
    align-content: flex-start;
    align-content: center;
    text-align: start;
}
#sec2 p{
    color: lightslategray;
}
#sec2 button{
    width: 200px;
    height: 70px;
    background-color:white;
    color: black;
    font-size: 20px;
    font-weight: 600;
    border-radius: 30px;
    
}
#sec2 button:hover{
     background-color: rgb(235,211,91);
    color:black;
}

#q1{
    /* border: 2px solid yellow; */
    height: 200px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    position: relative;
    bottom: 80px;
    background-color: rgb(243,250,246);
}
div{
    text-align: center;
}
#sec3{
    /* border: 2px solid; */
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 30px;
    position: relative;
    bottom: 100px;
    background-color: rgb(243,250,246);
   
}
#sec3 h2{
    /* border: 2px solid; */
    height: 60px;
    width: 200px;
    position: relative;
    top: 50px;
    text-align: start;
}
#sec3 p{
    /* border: 2px solid green; */
    height: 50px;
    width: 80%;
    font-size: 20px;
    position: relative;
    top: 70px;
    text-align: start;

}
#sec3 div{
    /* border: 2px solid red; */
    height: 350px;
    width: 80%px;
    /* padding-left: 20px; */
}
#sec3 img{
    width: 300px;
    height: 100px;
    position: relative;
    top:90px ;
    border-radius: 10px;
    
}
.r{
    border: 1px dotted;
    height: 70px;
    width: 15%;
    position: relative;
    bottom: 130px;
    margin-left: 650px;
    font-size: 20px;
    border-radius: 10px;
    text-align: start;
    background-color: rgb(243,250,246);
    
}
.r:hover{
      background-color: rgb(235,211,91);
    color:black;
}
#sec4{
    /* border: 2px solid; */
    height: 800px;
    width: 100%; 
    display: flex;
    justify-content: center;
    background-color: rgb(24,48,48);
     
}
 
.b{
  /* border: 2px solid blue; */
 height: 170px;
 width: 60%;
 text-align: center;
 align-content: center;
 text-align: start;
 line-height: 30px;
 position: relative;
 top: 140px;
 margin-left: 60px;
 color: white;
 border-top: 1px dotted white;

}
.b h4{
    font-size: 30px;
}

#sec4 h2{

    /* border: 2px solid yellow; */
    height: 100px;
    width: 50%;
    text-align:start;
    font-size: 35px;
    font-weight: 800;
    position: relative;
    top: 90px;
    margin-left: 60px;
    color: white;
}
#sec4 img{
     height: 700px;
     width: 90%;
     /* border: 2px solid yellowgreen; */
     display: flex;
     justify-content: center;
     justify-items: center;
     position: relative;
     top: 60px;
     margin-right: 70px;
     margin-left: -90px;
}
/* span{
    color: goldenrod;
} */
 #sec5{
    /* border: 2px solid red; */
    height: 800px;
    width: 100%;
     background-color: rgb(243,250,246);
}
#sec5 section{
    text-align: center;

    
}
#sec5 span{
     font-size: 20px;
     position: relative;
     top: 50px;
}
#sec5 h3{
    /* border: 2px solid; */
    height: 200px;
    width: 100%;
    font-size: 60px;
    align-content: center;
    font-weight: 600;
}
#sec5 article{
    /* border: 2px solid; */
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 20px;
    
}
#sec5 img{
    border-radius: 10px;
    position: relative;
    top: 30px;
}
#sec5 aside{
    /* border: 2px solid; */
    height: 40px;
    width: 100%;
    align-items: center;
    align-content: center;
    text-align: center;
}
aside button{
    height: 50px;
    width: 250px;
    border-radius: 5px;
}
aside button:hover{
     background-color: rgb(235,211,91);
    color:black;
}

#sec6{
    /* border: 2px solid red; */
    height: 800px;
    width: 100%;
}
#sec6 h2{
    /* border: 2px solid #791cdc; */
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 54px; 
    position: relative;
    top: 40px;

}
#sec6 section{
    text-align: center;

    
}
#sec6 span{
     font-size: 20px;
     position: relative;
     top: 10px;
}
#sec6 article{
    /* border: 2px solid; */
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 30px;
    
}
#sec6 img{
    height: 50px;
    width: 50px;
}
#sec6 h4{
    /* border: 2px solid yellow; */
    height: 30px;
    width: 500px;
     display: flex;
    text-align: center;

}

#sec6 p{
    /* border: 2px solid; */
    height: 30px;
    width: 500px;
    display: flex;
    text-align: center;
    position: relative;
    bottom: 10px;
}
#sec6 div{
    /* border:2px solid orange ; */
    height: 200px;
    width: 500px;
   display: flex;
   justify-content: center;
   flex-direction: column;   
   padding: auto;
   border-radius: 15px;
   background-color: rgb(243,250,246);
}
#sec7{
    /* border: 2px solid red; */
    height: 610px;
    width: 100%;
    position: relative;
    bottom: 300px;
}
#sec7 img{
    height: 610px;
    width: 100%;
}

#sec7 article{
    /* border: 2px solid yellow; */
    height: 500px;
    width: 95%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 500px;
    color: white;
}
#sec7 h1{
    /* border: 2px solid; */
    height: 100px;
    width: 90%;
    text-align: start;
    justify-content: center;
    font-size: 40px;
    line-height: 50px;
} 
#sec7 p{
    /* border: 2px solid red; */
    height:100px ;
    width: 100%;
    text-align: center;
    align-content: center;
}
#sec7 button{
     height: 50px;
    width: 250px;
    border-radius: 15px;
    font-size: 20px;
    text-transform: capitalize;
    align-items: start;

}
#sec7 button:hover{
      background-color: rgb(235,211,91);
    color:black;
}
footer{
    /* border: 2px solid; */
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: start;
    gap: 30px;
    position: relative;
    bottom: 220px;

}
footer div{
    /* border: 2px solid; */
    height: 500px;
    width: 50%;
    align-content: start;
    text-align: start;
    list-style: none;
    

    
}
footer h3{
    /* border: 2px solid; */
    height: 50px;
    align-content: start;
    display: flex;
    /* justify-content: center; */
   
}
footer ol{
    list-style: none;
   
}
footer img{
    /* border: 2px solid; */
    height: 50px;
    width: 100%;
    /* background-color:black; */
    
}
.v{
    text-align: center;
    position: relative;
    bottom: 700px;
}
 
